Repository charnley/rmsd: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, jupyisort, jupyblack, nbconvert

.pre-commit-config.yaml:

repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^tests/resources/
      - id: end-of-file-fixer
        exclude: ^tests/resources/
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
      - id: debug-statements
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=3000']


  - repo: https://github.com/myint/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        name: removes unused variables
        args:
          - --in-place
          - --remove-all-unused-imports
          - --expand-star-imports
          - --ignore-init-module-imports


  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        name: sorts imports
        args: ["--profile", "black", "--filter-files", "--line-width=99"]


  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: fixes formatting
        language_version: python3
        args: ["--line-length=99"]


  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        name: checks pep8 style
        args: [
          "--max-line-length=99",
          # Ignore imports in init files
          "--per-file-ignores=*/__init__.py:F401,setup.py:E121",
          # ignore long comments (E501), as long lines are formatted by black
          # ignore Whitespace before ':' (E203)
          # ignore Line break occurred before a binary operator (W503)
          "--ignore=E501,E203,W503",
        ]


  - repo: local
    hooks:
      - id: mypy
        name: checking types
        entry: mypy
        language: system
        types: [ python ]


  - repo: local
    hooks:

      - id: jupyisort
        name: Sorts ipynb imports
        entry: jupytext --pipe-fmt ".py" --pipe "isort - --multi-line=3 --trailing-comma --force-grid-wrap=0 --use-parentheses --line-width=99" --sync
        files: \.ipynb$
        language: python

      - id: jupyblack
        name: Fixes ipynb format
        entry: jupytext --pipe-fmt ".py" --pipe "black - --line-length=99" --sync
        files: \.ipynb$
        language: python

      - id: nbconvert
        name: Removes ipynb content
        entry: jupyter nbconvert
        args:
          [
            "--ClearOutputPreprocessor.enabled=True",
            "--ClearMetadataPreprocessor.enabled=True",
            "--RegexRemovePreprocessor.enabled=True",
            "--to=notebook",
            "--log-level=ERROR",
            "--inplace",
          ]
        files: \.ipynb$
        language: python

Clean unused code
  rmsd/calculate_rmsd.py
Due: mypy

Fixed typos, Moved typing to 3.10+ standard
  pyproject.toml
  rmsd/calculate_rmsd.py
  setup.py
  tests/test_kabsch.py
  tests/test_kabsch_weighted.py
Due: mypy

Updated test-version to supported Python versions
  .github/workflows/test.yml
Due: none

Cleaning package setup
  pyproject.toml
  setup.py
Due: mypy

Switch away from conda
  .github/workflows/test.yml
Due: none

license classifier is deprecated
  pyproject.toml
Due: none

Added license attr
  pyproject.toml
Due: none

old format
  pyproject.toml
Due: none

is it a cache problem?
  Makefile
Due: none

Try again with classifier
  pyproject.toml
Due: none

try-again
  pyproject.toml
Due: none

try again again
  pyproject.toml
Due: none

typos
  rmsd/calculate_rmsd.py
Due: mypy

twine version
  .github/workflows/test.yml
Due: none

Format
  rmsd/calculate_rmsd.py
Due: mypy

Feature/clean up (#129)
  .github/workflows/test.yml
  Makefile
  pyproject.toml
  rmsd/__init__.py
  rmsd/calculate_rmsd.py
  tests/test_kabsch.py
  tests/test_kabsch_weighted.py
Due: mypy

Reference license file
  pyproject.toml
Due: none

Switch to uv for development
  Makefile
  requirements.txt
Due: none

Internet says packaging works
  requirements.txt
Due: none

Work-around from issue
  pyproject.toml
Due: none

Getting desperate
  .github/workflows/test.yml
  pyproject.toml
Due: none

more
  .github/workflows/test.yml
Due: none

Wrong python-version
  .github/workflows/test.yml
  Makefile
Due: none

using virtual env
  .github/workflows/test.yml
Due: none

Explicit
  .github/workflows/test.yml
  Makefile
Due: none

Getting desperate again
  .github/workflows/test.yml
Due: none

This should work
  .github/workflows/test.yml
Due: none

Not needed explicitly
  requirements.txt
Due: none

Package maintenance and general clean-up (#127)
  .github/workflows/test.yml
  Makefile
  pyproject.toml
  requirements.txt
  rmsd/__init__.py
  rmsd/calculate_rmsd.py
  rmsd/py.typed
  setup.py
  tests/test_kabsch.py
  tests/test_kabsch_weighted.py
Due: mypy

Version 1.6.5
  rmsd/version.py
Due: mypy

Added fallback for missing version import.
  rmsd/calculate_rmsd.py
Due: mypy

Updated version import handling, default to "version unknown".
  rmsd/calculate_rmsd.py
Due: mypy

Fixed import statement, versionx to version.
  rmsd/calculate_rmsd.py
Due: mypy

Updated qmllib import error handling with type ignore comment.
  rmsd/calculate_rmsd.py
Due: mypy

Updated version import handling for wget. Default to "version unknown". (#132)
  rmsd/calculate_rmsd.py
Due: mypy

Updated pre-commit config, build system, tooling for speed and typechecking
  .pre-commit-config.yaml
  Makefile
  docs/notebooks/coord_funcs.py
  docs/notebooks/figures.ipynb
  docs/notebooks/plot_funcs.py
  pyproject.toml
  pyrightconfig.json
  requirements.txt
  rmsd/calculate_rmsd.py
  tests/conftest.py
  tests/test_args.py
  tests/test_centroid.py
  tests/test_file_reading.py
  tests/test_kabsch.py
  tests/test_kabsch_weighted.py
  tests/test_main.py
  tests/test_pdb.py
  tests/test_quaternion.py
  tests/test_reflections.py
  tests/test_reorder.py
  tests/test_reorder_inertia.py
  tests/test_reorder_print.py
  tests/test_reorder_qml.py
Due: mypy, jupyisort, jupyblack, nbconvert

Updated Python test matrix to 3.10-3.12, pinned numpy/scipy compatibility.
  .github/workflows/test.yml
Due: none

Fixed ruff config formatting, enabled strict zip mode.
  pyproject.toml
  rmsd/calculate_rmsd.py
Due: mypy

Replaced distance_matrix with cdist.
  rmsd/calculate_rmsd.py
Due: mypy

Replaced distance_matrix with cdist. (#135)
  rmsd/calculate_rmsd.py
Due: mypy
