Repository charnley/rmsd: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, jupyisort, jupyblack, nbconvert

mypy:
  name: checking types
  entry: mypy
  language: system

jupyisort:
  name: Sorts ipynb imports
  entry: jupytext --pipe-fmt ".py" --pipe "isort - --multi-line=3 --trailing-comma --force-grid-wrap=0 --use-parentheses --line-width=99" --sync
  language: python

jupyblack:
  name: Fixes ipynb format
  entry: jupytext --pipe-fmt ".py" --pipe "black - --line-length=99" --sync
  language: python

nbconvert:
  name: Removes ipynb content
  entry: jupyter nbconvert
  args:
  - --ClearOutputPreprocessor.enabled=True
  - --ClearMetadataPreprocessor.enabled=True
  - --RegexRemovePreprocessor.enabled=True
  - --to=notebook
  - --log-level=ERROR
  - --inplace
  language: python

Update README.rst
  README.rst
Due: none

Move to docs
  docs/notebooks/coord_funcs.py
  docs/notebooks/figures.ipynb
  docs/notebooks/plot_funcs.py
Due: mypy, jupyisort, jupyblack, nbconvert

Types
  rmsd/calculate_rmsd.py
Due: mypy

Feedback from Hagen
  rmsd/calculate_rmsd.py
Due: mypy

Added better --help information
  rmsd/calculate_rmsd.py
Due: mypy

fixed f-string for older python
  rmsd/calculate_rmsd.py
Due: mypy

Improved inertia alignment method and improved documentation (#122)
  .gitignore
  .pre-commit-config.yaml
  Makefile
  README.rst
  docs/figures/fig_reorder_inertia.png
  docs/figures/fig_reorder_problem.png
  docs/figures/fig_reorder_qml.png
  docs/figures/fig_rmsd_nothing.png
  docs/figures/fig_rmsd_recentered.png
  docs/figures/fig_rmsd_rotated.png
  docs/notebooks/coord_funcs.py
  docs/notebooks/figures.ipynb
  docs/notebooks/plot_funcs.py
  example.py
  img/plot_beginning.png
  img/plot_rotated.png
  img/plot_translated.png
  requirements.txt
  rmsd/calculate_rmsd.py
  tests/conftest.py
  tests/context.py
  tests/resources/butane.xyz
  tests/resources/butane_prime.xyz
  tests/resources/examples/CHEMBL135626.xyz
  tests/resources/examples/NS00006345.xyz
  tests/test_file_reading.py
  tests/test_kabsch.py
  tests/test_kabsch_weighted.py
  tests/test_main.py
  tests/test_pdb.py
  tests/test_quaternion.py
  tests/test_reflections.py
  tests/test_reorder_inertia.py
  tests/test_reorder_print.py
  tests/test_reorder_qml.py
  tests/test_rmsd.py
Due: mypy, jupyisort, jupyblack, nbconvert

Version 1.6.2
  rmsd/calculate_rmsd.py
  rmsd/version.py
Due: mypy

Version 1.6.3
  rmsd/calculate_rmsd.py
  rmsd/version.py
Due: mypy

Added manifest for pip package and tar
  MANIFEST.in
Due: none

Remove qml dependency on non-qml test
  tests/test_pdb.py
Due: mypy

Added manifest for tar pip package and removed qml from non-qml tests (#125)
  MANIFEST.in
  tests/test_pdb.py
Due: mypy

Version 1.6.4
  rmsd/calculate_rmsd.py
  rmsd/version.py
Due: mypy

categorizer implementation
  ci_categorizer.py
Due: mypy

Cleaning package setup
  pyproject.toml
  rmsd/py.typed
  setup.py
Due: mypy

license classifier is deprecated
  pyproject.toml
Due: none

Switch away from conda
  .github/workflows/test.yml
Due: none

Added license attr
  pyproject.toml
Due: none

old format
  pyproject.toml
Due: none

is it a cache problem?
  Makefile
Due: none

Try again with classifier
  pyproject.toml
Due: none

try-again
  pyproject.toml
Due: none

try again again
  pyproject.toml
Due: none

twine version
  .github/workflows/test.yml
Due: none

fix typo in reorder_inertia_hungarian (#128)
  rmsd/calculate_rmsd.py
Due: mypy

typos
  rmsd/calculate_rmsd.py
Due: mypy

Uninitialized `view_min`
  rmsd/calculate_rmsd.py
Due: mypy

Unused variable, Format consistency
  rmsd/calculate_rmsd.py
Due: mypy

Consistency between raise exceptions and exit-codes
  rmsd/calculate_rmsd.py
Due: mypy

Align version
  rmsd/calculate_rmsd.py
  setup.py
Due: mypy

Only one version file
  Makefile
Due: none

Add type annotation
  rmsd/py.typed
Due: none

Consistent doc string
  rmsd/calculate_rmsd.py
Due: mypy

Don't mutate elements on a get-function
  rmsd/calculate_rmsd.py
Due: mypy

export all
  rmsd/__init__.py
Due: mypy

Path conditions:
  mypy: any of: \.py$
  jupyisort: any of: \.ipynb$
  jupyblack: any of: \.ipynb$
  nbconvert: any of: \.ipynb$
