Repository charnley/rmsd: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, jupyisort, jupyblack, nbconvert

mypy:
  name: Checking types
  entry: mypy
  language: system

jupyisort:
  name: Sorts ipynb imports
  entry: jupytext --pipe-fmt ".py" --pipe "isort - --multi-line=3 --trailing-comma --force-grid-wrap=0 --use-parentheses --line-width=99"
  language: python

jupyblack:
  name: Fixes ipynb format
  entry: jupytext --pipe-fmt ".py" --pipe "black - --line-length=99"
  language: python

nbconvert:
  name: Removes ipynb content
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --ClearMetadataPreprocessor.enabled=True RegexRemovePreprocessor.enabled=True --to=notebook --log-level=ERROR --inplace
  language: python

Removed unused protocol
  rmsd/calculate_rmsd.py
Due: mypy

Removed out-commented code and added clarification comment
  rmsd/calculate_rmsd.py
Due: mypy

Fixed bug that made --print output inconsitent (#112)
  rmsd/calculate_rmsd.py
  tests/resources/issue93/b.xyz
  tests/test_main.py
  tests/test_reorder_print.py
Due: mypy

Updated environment
  Makefile
  environment.yml
  pyproject.toml
  requirements.txt
  tests/test_reorder_qml.py
Due: mypy

Run format
  tests/test_main.py
  tests/test_reorder_print.py
Due: mypy

Fixed python path, Added monkeytype
  .github/workflows/test.yml
  requirements.txt
Due: none

Added qmllib dependency, and removed deprecated. Updated pre-commit (#110)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Makefile
  environment.yml
  pyproject.toml
  requirements.txt
  rmsd/calculate_rmsd.py
  tests/test_main.py
  tests/test_reorder_print.py
  tests/test_reorder_qml.py
Due: mypy

Run test update
  .gitignore
  Makefile
  requirements.txt
  rmsd/calculate_rmsd.py
Due: mypy

Environment changes
  .pre-commit-config.yaml
  requirements.txt
  rmsd/calculate_rmsd.py
Due: mypy

Remove stubs
  requirements.txt
Due: none

Updated python types and environment (#113)
  .gitignore
  .pre-commit-config.yaml
  Makefile
  requirements.txt
  rmsd/calculate_rmsd.py
Due: mypy

Restructured pdb reader and added alpha carbon argument
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Makefile
  README.rst
  pyproject.toml
  rmsd/calculate_rmsd.py
  rmsd/version.py
  setup.py
  tests/test_args.py
  tests/test_file_reading.py
  tests/test_main.py
Due: mypy

Format error
  rmsd/calculate_rmsd.py
Due: mypy

Update README.rst
  README.rst
Due: none

More correct way of finding alpha-carbons
  rmsd/calculate_rmsd.py
Due: mypy

Restructured PDB reader and added carbon alpha filter (#114)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Makefile
  README.rst
  pyproject.toml
  rmsd/calculate_rmsd.py
  rmsd/version.py
  setup.py
  tests/test_args.py
  tests/test_file_reading.py
  tests/test_main.py
Due: mypy

Added issue98 test data
  rmsd/calculate_rmsd.py
  tests/test_pdb.py
Due: mypy

Align main function
  rmsd/__main__.py
Due: mypy

Added with reorder example
  tests/test_pdb.py
  tests/test_reorder_qml.py
Due: mypy

Added test for issue 98 (#115)
  rmsd/__main__.py
  tests/resources/issue98/test1.pdb
  tests/resources/issue98/test2.pdb
  tests/test_pdb.py
  tests/test_reorder_qml.py
Due: mypy

Bugfix: Fix view bug when filtering and reordering
  rmsd/calculate_rmsd.py
  tests/test_main.py
Due: mypy

Bugfix: Fix view bug when filtering and reordering (#116)
  rmsd/calculate_rmsd.py
  tests/test_main.py
Due: mypy

Update package
  .github/workflows/publish.yml
  .github/workflows/test.yml
  Makefile
Due: none

Test dist
  .github/workflows/test.yml
  Makefile
Due: none

Updated Makefile for version bumping
  Makefile
Due: none

Updated test, version and publish commands (#117)
  .github/workflows/publish.yml
  .github/workflows/test.yml
  Makefile
Due: none

Version 1.6.0
  rmsd/calculate_rmsd.py
  rmsd/version.py
Due: mypy

Add optional flag
  pyproject.toml
Due: none

test optional install
  .github/workflows/test.yml
Due: none

Forgot tail
  .github/workflows/test.yml
Due: none

Better for testing?
  .github/workflows/test.yml
Due: none

Added example for Inertia re-alignment
  Makefile
  notebooks/coord_funcs.py
  notebooks/explain_reorder.ipynb
  notebooks/plot_funcs.py
  requirements.txt
  rmsd/calculate_rmsd.py
  tests/resources/examples/CHEMBL135626.xyz
  tests/resources/examples/NS00006345.xyz
Due: mypy, jupyisort, jupyblack, nbconvert

Ignore notebook leftovers
  .gitignore
Due: none

Correct package
  requirements.txt
Due: none

Added -y to remove
  .github/workflows/test.yml
Due: none

publish wheels
  Makefile
Due: none

publish wheels (#119)
  Makefile
Due: none

Added test for wheel
  .github/workflows/test.yml
Due: none

Noob error
  .github/workflows/test.yml
Due: none

Path conditions:
  mypy: any of: \.py$
  jupyisort: any of: .ipynb
  jupyblack: any of: .ipynb
  nbconvert: any of: .ipynb
