Repository charnley/rmsd: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, jupyisort, jupyblack, nbconvert

.pre-commit-config.yaml:

repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^tests/resources/
      - id: end-of-file-fixer
        exclude: ^tests/resources/
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
      - id: debug-statements
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=3000']


  - repo: https://github.com/myint/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        name: removes unused variables
        args:
          - --in-place
          - --remove-all-unused-imports
          - --expand-star-imports
          - --ignore-init-module-imports


  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        name: sorts imports
        args: ["--profile", "black", "--filter-files", "--line-width=99"]


  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: fixes formatting
        language_version: python3
        args: ["--line-length=99"]


  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        name: checks pep8 style
        args: [
          "--max-line-length=99",
          # Ignore imports in init files
          "--per-file-ignores=*/__init__.py:F401,setup.py:E121",
          # ignore long comments (E501), as long lines are formatted by black
          # ignore Whitespace before ':' (E203)
          # ignore Line break occurred before a binary operator (W503)
          "--ignore=E501,E203,W503",
        ]


  - repo: local
    hooks:
      - id: mypy
        name: checking types
        entry: mypy
        language: system
        types: [ python ]


  - repo: local
    hooks:

      - id: jupyisort
        name: Sorts ipynb imports
        entry: jupytext --pipe-fmt ".py" --pipe "isort - --multi-line=3 --trailing-comma --force-grid-wrap=0 --use-parentheses --line-width=99" --sync
        files: \.ipynb$
        language: python

      - id: jupyblack
        name: Fixes ipynb format
        entry: jupytext --pipe-fmt ".py" --pipe "black - --line-length=99" --sync
        files: \.ipynb$
        language: python

      - id: nbconvert
        name: Removes ipynb content
        entry: jupyter nbconvert
        args:
          [
            "--ClearOutputPreprocessor.enabled=True",
            "--ClearMetadataPreprocessor.enabled=True",
            "--RegexRemovePreprocessor.enabled=True",
            "--to=notebook",
            "--log-level=ERROR",
            "--inplace",
          ]
        files: \.ipynb$
        language: python

Added qmllib optional flag (#118)
  .github/workflows/test.yml
  Makefile
  pyproject.toml
Due: none

Version 1.6.1
  rmsd/calculate_rmsd.py
  rmsd/version.py
Due: mypy

Only publish once, on published
  .github/workflows/publish.yml
Due: none

Update README.rst
  README.rst
Due: none

Starting to do notes
  notebooks/explain_reorder.ipynb
Due: jupyisort, jupyblack, nbconvert

Added interactive slider
  notebooks/explain_reorder.ipynb
  notebooks/plot_funcs.py
  requirements.txt
  tests/resources/examples/test.xyz
Due: mypy, jupyisort, jupyblack, nbconvert

Use symbols on --print
  rmsd/calculate_rmsd.py
Due: mypy

Check with specific numpy version
  requirements.txt
Due: none

install dependencies
  .github/workflows/test.yml
Due: none

Please
  .github/workflows/test.yml
Due: none

Was not numpy
  requirements.txt
Due: none

Why is mypy complaining
  rmsd/calculate_rmsd.py
  tests/test_reorder.py
Due: mypy

Added explicit ndarray
  tests/test_reorder.py
Due: mypy

Use symbols on --print (#121)
  .github/workflows/test.yml
  requirements.txt
  rmsd/calculate_rmsd.py
  tests/test_reorder.py
Due: mypy

Version 1.6.2
  rmsd/calculate_rmsd.py
  rmsd/version.py
Due: mypy

Checkpoint
  notebooks/coord_funcs.py
  notebooks/notes.ipynb
  notebooks/plot_funcs.py
  rmsd/calculate_rmsd.py
Due: mypy, jupyisort, jupyblack, nbconvert

Iteration
  notebooks/explain_reorder.ipynb
  notebooks/fig_rmsd_nothing.png
  notebooks/fig_rmsd_recentered.png
  notebooks/fig_rmsd_rotated.png
  notebooks/plot_funcs.py
  rmsd/calculate_rmsd.py
Due: mypy, jupyisort, jupyblack, nbconvert

More pictures
  notebooks/explain_reorder.ipynb
  notebooks/fig_reorder_problem.png
  notebooks/fig_reorder_qml.png
  notebooks/fig_rmsd_nothing.png
  notebooks/fig_rmsd_recentered.png
  notebooks/fig_rmsd_rotated.png
  notebooks/plot_funcs.py
Due: mypy, jupyisort, jupyblack, nbconvert

Iteration
  notebooks/explain_reorder.ipynb
  notebooks/fig_reorder_inertia.png
  notebooks/plot_funcs.py
Due: mypy, jupyisort, jupyblack, nbconvert

Iteration
  notebooks/explain_reorder.ipynb
  notebooks/fig_rmsd_nothing.png
  notebooks/fig_rmsd_recentered.png
  notebooks/fig_rmsd_rotated.png
  notebooks/plot_funcs.py
Due: mypy, jupyisort, jupyblack, nbconvert

Figures
  docs/figures/fig_reorder_inertia.png
  docs/figures/fig_reorder_problem.png
  docs/figures/fig_reorder_qml.png
  docs/figures/fig_rmsd_nothing.png
  docs/figures/fig_rmsd_recentered.png
  docs/figures/fig_rmsd_rotated.png
  notebooks/fig_reorder_inertia.png
  notebooks/fig_reorder_problem.png
  notebooks/fig_reorder_qml.png
  notebooks/figures.ipynb
  notebooks/plot_funcs.py
Due: mypy, jupyisort, jupyblack, nbconvert

Clean up notebooks
  notebooks/coord_funcs.py
  notebooks/figures.ipynb
  notebooks/notes.ipynb
Due: mypy, jupyisort, jupyblack, nbconvert

Added inertia test and fixed some stuff
  .pre-commit-config.yaml
  README.rst
  rmsd/calculate_rmsd.py
  tests/conftest.py
  tests/context.py
  tests/resources/butane.xyz
  tests/resources/butane_prime.xyz
  tests/test_file_reading.py
  tests/test_kabsch.py
  tests/test_kabsch_weighted.py
  tests/test_main.py
  tests/test_pdb.py
  tests/test_quaternion.py
  tests/test_reflections.py
  tests/test_reorder_inertia.py
  tests/test_reorder_print.py
  tests/test_reorder_qml.py
  tests/test_rmsd.py
Due: mypy

Delete tests/resources/examples/test.xyz
  tests/resources/examples/test.xyz
Due: none

Delete example.py
  example.py
Due: mypy

remove old images
  img/plot_beginning.png
  img/plot_rotated.png
  img/plot_translated.png
Due: none
